body {
    margin: 0;
}
#libraryImage {
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
}

.headerContainer {
    font-family: "Raleway";
    background-color: indianred;
    box-shadow: 0px 0px 5px 5px darkred;
    height: 80px;
    font-size: 50px;
    overflow: visible;
    position:relative;
    z-index: 1000;
}

.headerFlex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#plusImage {
    height: 40px;
    width: 40px;
}

.restOfContainer {
    background-color: crimson;
    min-height: 100%;
}



.newBookButton {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-auto-columns: 100px;
    grid-auto-rows: 100px;
}

.formContainer {
    display: grid;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    position: relative;
    bottom: 200px;
    visibility: hidden;
    z-index: 999;
}

.submitForm {
    display: grid;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 60;
    gap: 15px;
}

#title, #author, #pages {
    width: 300px;
}

.buttonSection {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttonForm {
    width: 100px;
    border-radius: 10px;
    height: 50px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;

}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}



html, body {
    height: 100%;
}